.indicator {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px #666 solid;
    margin: 0;
  }
  
  .indicator.active {
    color: #fff;
    background: #666;
  }

  .slide{
    z-index: -99999;
    width: 100%;
    height: 400px;
  }

  .slide__button{
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translateY(-50%);
    border: 2px solid red;
    color: red;
    font-size: 2rem;
    cursor: pointer;
    z-index: 99999;
  }